.button {
  width: 160px;
  height: 100%;
  background-color: #ffd699;
  padding: 0px 10px;
}

.Search td {
  height: 40px;
  margin: 10px 0px;
  border: none;
  padding-top: 5px;
}
input[type="text"] {
  width: 250px;
  height: 95%;
  padding-left: 10px;
  margin-right: 50px;
  outline: none;
}
